alembic==1.13.3
aniso8601==9.0.1
apsw==3.28.0.post1
apturl==0.5.2
bcrypt==3.1.7
beautifulsoup4==4.8.2
blinker==1.8.2
Brlapi==0.7.0
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==8.1.7
colorama==0.4.3
command-not-found==0.3
cryptography==2.8
css-parser==1.0.4
cssselect==1.1.0
cssutils==1.0.2
cupshelpers==1.0
dbus-python==1.2.16
defer==1.0.6
distlib==0.3.8
distro==1.4.0
distro-info==0.23+ubuntu1.1
dnspython==1.16.0
duplicity==0.8.12.0
entrypoints==0.3
evdev==1.3.0
exceptiongroup==1.2.2
Faker==30.4.0
fasteners==0.14.1
feedparser==5.2.1
filelock==3.16.1
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-JWT-Extended==4.6.0
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
future==0.18.2
google-api-python-client==1.7.11
google-auth==1.5.1
google-auth-httplib2==0.0.3
greenlet==3.1.0
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.0.1
httplib2==0.14.0
idna==2.8
ifaddr==0.1.6
importlib_metadata==8.5.0
importlib_resources==6.4.5
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lockfile==0.12.2
louis==3.12.0
lxml==4.5.0
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==2.1.5
mechanize==0.4.5
monotonic==1.5
msgpack==0.6.2
netifaces==0.10.4
nose==1.3.7
oauth2client==4.1.2
oauthlib==3.1.0
olefile==0.46
packaging==24.1
paramiko==2.6.0
pexpect==4.6.0
pillow==10.4.0
pipenv==2024.1.0
platformdirs==4.3.6
pluggy==1.5.0
protobuf==3.6.1
psycopg2-binary==2.9.10
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pychm==0.8.6
pycups==1.9.73
PyDrive==1.3.1
Pygments==2.3.1
PyGObject==3.36.0
PyJWT==2.9.0
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
PyQt5==5.14.1
PyQtWebEngine==5.14.0
pyRFC3339==1.1
pytest==8.3.3
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.7.3
python-debian==0.1.36+ubuntu1.1
python-dotenv==1.0.1
python-magic==0.4.16
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
regex==2019.8.19
reportlab==3.5.34
repoze.lru==0.7
requests==2.22.0
requests-unixsocket==0.2.0
Routes==2.4.1
rsa==4.0
SecretStorage==2.3.1
setproctitle==1.1.10
simplejson==3.16.0
sip==4.19.21
six==1.14.0
soupsieve==1.9.5
SQLAlchemy==2.0.35
SQLAlchemy-serializer==1.4.12
systemd-python==234
tomli==2.0.1
typing_extensions==4.12.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36
unattended-upgrades==0.1
uritemplate==0.6
urllib3==1.25.8
usb-creator==0.3.7
virtualenv==20.26.6
wadllib==1.3.3
webencodings==0.5.1
WebOb==1.8.5
Werkzeug==3.0.4
xkit==0.0.0
zeroconf==0.24.4
zipp==3.20.2
