
.banner {
  background-color: #7b0205; 
  color: #fff; 
  font-size: 1.5em; 
  font-weight: bold;
  text-align: center; 
  padding: 1em 0; 
  margin-bottom: 1em; 
  border-bottom: 3px solid #ff5722; 
  border-top: 3px solid #ff5722;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px; 
  background-color: #772222; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  box-sizing: border-box; 
  transition: all 0.3s ease-in-out;
}


.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.sidebar ul li {
  margin: 1em 0;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff; 
  padding: 0.8em 1em;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%; 
  box-sizing: border-box; 
}


.icon_left {
  margin-right: 10px; 
}


.sidebar ul li a:hover {
  background-color: #ff5722; 
  color: #fff;
}


.sidebar ul li a.active {
  background-color: #ff3d00; 
  color: #fff;
}


body {
  margin-left: 250px; 
  box-sizing: border-box; 
}


@media (max-width: 768px) {
  .sidebar {
    width: 200px; 
  }

  body {
    margin-left: 200px; 
  }
}
